
<div class="jumbotron center">
	<h1>Welcome to the Photosharing app!</h1>
	<p>
		<%= link_to "Sign up", "#", class: "btn btn-danger btn-lg" %>
		<%= link_to "Log in", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>